<section>
  <center>
    <div class="logoform">
      <%= image_tag('google.png') %>
      <form class="form" action="index.html" method="post">
        <input class="input" type="text" name="" value="">
        <br>
        <button class="btn btn-default" type="button" name="button">Recherche Google</button>
        <button class="btn btn-default" type="button" name="button">J'ai de la chance</button>
      </form>
      <button type="button" class="btn btn-danger" onclick="psyMode()">Psychadelic Mode</button>
    </div>
  </center>
</section>
