/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Header */
 header {
   font-family: arial, sans-serif;
   color: #aaa;
   text-align: right;
   font-size: 15px;
   padding: 10px;
   margin: 0;

 }

 header a {
   color: rgba(66, 66, 66, .54);
 }

 header a:hover {
     color: rgba(0, 0, 0, .54);
   }
   /* div .header*/
   .header {
     display: flex;
     justify-content: space-around;
     align-content: flex-end;
     align-items: center;
     line-height: 25px;
     padding-top: 7px;

   }

 button.cta:hover{
     background-color: #639eff;
 }
   .cta {
   padding-bottom: 10px;
   width: 100px;
   height: 30px;
   box-shadow: none;
   border: none;
   border-radius: 3px;
   background-color: #4286f4;
   color: white;
   font-size: 13px;
   font-weight: bold;

 }


 /* Contenu CENTRER - Logo + formulaire (input & button) */
 .logoform {
   padding-top: 55px;
   padding-bottom: 100px;
   margin-top: 89px;


 }

   .logo {
     height: 92px;
     width: 272px;

   }

 input.input:hover {
   box-shadow: 5px 5px 5px #aaaaaa;
 }

   .input {
     margin-top: 30px;
     margin-bottom: 30px;
     border: 1px solid #c6c6c6;
     color: #222;
     height: 38px;
     width: 559px;
     line-height: 27px;
     border-radius: 2px;

   }

   .btn {
     color: #666 !important;
     font-weight: bold;
     line-height: 27px;
     font-size: 13px;
     font-weight: bold;
     margin: 11px 4px;
     background-color: #F6F6F6 !important;
     border: none !important;
     border-radius: 1px !important;

   }

 .btn:hover{
   background-color: #C6C6C6 !important;
 }


 /* Footer */
 footer {
     width: 100%;
     position: fixed;
     left:0px;
     bottom:0px;
     background-color: #f2f2f2;
     margin-left: 0px;
     color: rgba(0, 0, 0, .54);
     text-align: left;

 }

 footer a {
     color: rgba(0, 0, 0, .54);

 }

 footer a:hover {
     color: rgba(0, 0, 0, .54);
 }

 .france {
     display: block;
     border-top: 1px solid #E4E4E4;
     font-size: 15px;
     padding-top: 10px;
     margin-left: 40px !important;

 }

 #nav_footer {
     float: left;
     left: 0px;
     border-top: 5px;

 }
 #nav_footer1 li {

     display: inline-block;
     left: 0px;
     margin-right: 2.5em;
     margin-top: 16px;

 }

 #nav_footer2 li {
     padding-left: 18px;
     display: inline-block;
     left: 0px;
     margin-left: 3.5em;
     margin-top: 16px;

 }

 .conditions {

     border-top: 1px solid #E4E4E4;
     margin-left: 0px;
     font-size: 13px;
     margin-top: 12px;
     color: #bebbbd;

 }
