<footer>
  <div class="row france" >
    <p style="margin-bottom: 0px !important;">France</p>
  </div>
  <div class="row conditions">
    <div class="col-md-4">
        <ul id="nav_footer1">
            <li><a href="">Publicite</a></li>
            <li><a href="">Entreprises</a></li>
            <li><a href="">About</a></li>
        </ul>
    </div>
    <div class="col-md-8">
        <ul id="nav_footer2">
            <li><a href="">Infos Consommateurs</a></li>
            <li><a href="">Confidentialite</a></li>
            <li><a href="">Conditions</a></li>
            <li><a href="">Parametres</a></li>
            <li><a href="">Utiliser Google.com</a></li>
        </ul>
    </div>
  </div>
</footer>
